* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.layout {
    /* width: 1366px; */
    /* height: 768px; */

    display: grid;
    grid:
        "header" auto "main" 1fr "footer" auto / 1fr;
    gap: 8px;
}

.header {
    grid-area: header;
}

.editor {
    grid-area: main;
    /* display: flex; */
    /* flex-direction: column;  */
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.footer {
    grid-area: footer;
}

.canvas-container {
    width: 80vw;
}

canvas {
    background-color: darkgray;
    /* background-image: url(img/meme-imgs/meme-imgs-square/9.jpg); */
}

.gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    height: 200px;
}

button {
    display: inline;
    max-width: max-content;
}

.hidden {
    display: none;
}